node_modules/
.env
*.pem
*.sql
*.tar.gz
*:Zone.Identifier
Thumbs.db
desktop.ini
.DS_Store
node_modules/
.env
*.pem
*.sql
*.tar.gz
*:Zone.Identifier
Thumbs.db
desktop.ini
.DS_Store*:Zone.Identifier
