
RABBIT_URL=amqps://observer.46:TU_PASSWORD@broker.iic2173.org:5671/energy


RABBIT_HOST=broker.iic2173.org
RABBIT_PORT=5671
RABBIT_USER=observer.46
RABBIT_PASS=tu_password
RABBIT_VHOST=energy

RABBIT_QUEUE=observer.46.q

MASTER_URL=http://localhost:3000/events
